body{
background-image: url("../images/alice.jpeg");
background-size: 100vw 100vh;
    background-repeat: no-repeat;
       
    
}


#xiaoren
{
    animation: rotate 11s linear forwards infinite;
    animation-play-state:paused;
    margin-left: 33vw;
    position: absolute;
    height: 17%;
    width: auto;
    border-radius: 50%;
}

#aplayer
{
    position: absolute;
    transform:translate(0vw,19vh);
    width: 92vw;
}

.container
{   
    text-align: center;
    transform: translate(2%,72%);
    display: flex;
    column-gap: 5vw;
    width:90vw;
    height: 55vh;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* border-style: dotted; */
    color: white;
    
}

#link1{
    background-image: url(../images/test.jpg);
    background-size: cover;
    text-align: center;
    width: 40vw;
    height: 15vh;
    background-size: cover;
    border-radius: 10%;
}

#link2{
    background-image: url(../images/test.jpg);
    background-size: cover;
    text-align: center;
    width: 40vw;
    height: 15vh;
    background-color: rgb(127, 255, 212,0.5);
    border-radius: 10%;
}

#link3
{
    background-image: url(../images/test.jpg);
    background-size: cover;
    text-align: center;
    width: 40vw;
    height: 15vh;
    background-color: rgb(127, 255, 212,0.5);
    border-radius: 10%;
}

#link4{
    background-image: url(../images/test.jpg);
    background-size: cover;
    text-align: center;
    width: 40vw;
    height: 15vh;
    background-color: rgb(127, 255, 212,0.5);
    border-radius: 10%;
}

a{
    display: block;
    width: 95%;
    height: 15vh;
    /* border-style: dotted; */
    border-radius: 20%;
    text-decoration: none;
}

p
{   
    color: #fff;
    font-weight: 1000;
    font-size: 5vh;
    font-style: italic;
    transform: translate(0.3vw,-0.6vh);
}
#main-footer
p
{   position:absolute;
    transform: translate(-3vw,30vh);
    width: 100vw;
    text-align: center;
    font-weight: 60;
    font-size: 16px;
    color:whitesmoke;
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }