body{
background-image: url("../images/alice.jpeg");
background-size: 100vw 100vh;
    background-repeat: no-repeat;
       
    
}

#xiaoren
{
    width: 12.5vw;
    height:25vh;
    border-radius: 200%;
    animation: rotate 20s linear backwards infinite;
}

#main-footer
{
    color:whitesmoke;
    margin-top: 10%;
    margin-left: 40%;
}

#navbar
nav{
margin-top: 5%;
margin-left: 30%;
margin-bottom: 3%;
}

a{
    color:snow;
}

li
{
    color: snow;
    display:inline;
    margin-left: 5%;
    font-size: larger;
    text-decoration: underline;
}

#about
{

    margin-left: 46.5%;
}

@keyframes rotate {

    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
    
}
