body{
background-image: url("../images/alice.jpeg");
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#xiaoren
{
    width: 200px;
    border-radius: 100%;
    margin-left: 43%;
    margin-top: 10%;
}

#main-footer
{
    color:whitesmoke;
    margin-top: 10%;
    margin-left: 40%;
}

#navbar
nav{
margin-top: 5%;
margin-left: 30%;
margin-bottom: 3%;
}

a{
    color:snow;
}

li
{
    color: snow;
    display:inline;
    margin-left: 5%;
    font-size: larger;
    text-decoration: underline;
}

#about
{

    margin-left: 46.5%;
}

@keyframes grow {
    from {
      transform: scale(1);
    }
  
    to {
      transform: scale(1.2);
    }
  }